.dismissContainer{
    height: 2.5rem;
    color: white;
    display: flex;
    align-items: center;
    background-color: #264aec;
  
    
    
}
a{
    color: inherit !important;
}

#thunder{
    color: yellow;
}
.dismissText{
    text-align: center;
    width: 100%;
}
.dismissButton{
   margin-right: 1.2rem;
  
}
