.dismissContainer{
    height: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    background-color: #1c45fc;
  
    
    
}
a{
    color: inherit !important;
}

#thunder{
    color: yellow;
}
.dismissText{
    text-align: center;
    width: 100%;
}
.dismissButton{
   margin-right: 1.2rem;
  
}
